body {
    margin: 0;
    font-family: Arial, sans-serif;

}

nav {
    background: #0544f1;
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav h2 {
    font-size: 18px;
    margin: 10px;
    color: white;
}

.sidebar {
    width: 230px;
    height: 100vh;
    background: #0544f1;
    color: #fff;
    position: fixed;
    padding: 20px;
    transition: 0.3s;
}

.sidebar a {
    display: block;
    font-weight: 900;
    color: white;
    text-decoration: none;
    padding: 8px ;
}

.sidebar a:hover {
    color: red;
}

.sidebar.active {
    margin-left: -25px;
}


.content {
    margin-left: 260px;
    padding: 20px;
}

.content h2 {
    margin-top: 50px;
    text-align: center;
}
.deskripsi{
    background-color: #dbeafe;
    border-radius: 20px;
    margin-top: 60px;
    padding:10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.deskripsi h3 {
    background:#5801fa;
    color:white;
    display:inline-block;
    padding:10px 20px;
    border-radius:20px;
    margin: 20px;
    font-weight:bold;
}
.deskripsi h1 {
    font-size:50px;
    line-height:1.3;
    color:#0f2d5c;
    margin-bottom:20px;
    max-width:900px;
}


.deskripsi p {
    font-size:20px;
    color:#555;
    line-height:1.8;
    max-width:800px;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 10px;
    
}

.total-dokumen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0213d6;
    color: white;
    width: 380px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.dok h4{
    margin: 20px 10px;
    font-size: 30px;
}
.dok h2{
    font-size: 30px;
}
.logo i{
    margin: 10px 20px;
    font-weight: 500;
    font-size: 80px; 
}
.total-download {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6b04e9;
    color: white;
    width: 380px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
canvas{
     margin-top: 5px;
     border-radius: 20px;
     padding: 5px;
     background:white;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.form-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 20px blue;
    margin-bottom: 30px;
}

.form-box input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-box button {
    background: #2563eb;
    color: #fff;
    border: none;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
}

.btn-back {
    background: #f59e0b;
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 10px;
}

.table-box {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th {
    background: #0ea5e9;
    color: #fff;
    padding: 10px;
    text-align: left;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.btn-delete {
    background: #dc2626;
    color: #fff;
    padding: 5px 5px;
    border-radius: 4px;
   
}

.btn-download {
    background: #2563eb;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin: 0 5px;
}

.content.full {
    margin-left: 20px !important;
    transition: 0.3s;
}

.sidebar {
    transition: 0.3s;
}

.sidebar.active {
    margin-left: -250px;
}
